SELECT BRAND_CD, INVOICE_NO, ITEM_CD, ORDER_QTY
  FROM A_OUT_D
 WHERE INVOICE_NO LIKE '#0%'
   AND ORDER_QTY >= 3
 ORDER BY ORDER_QTY DESC;
 
SELECT BRAND_CD, INVOICE_NO, ITEM_CD, ORDER_QTY
  FROM A_OUT_D
 WHERE INVOICE_NO LIKE '#0%'
   AND ORDER_QTY >= 3 
 ORDER BY ORDER_QTY DESC, ITEM_CD;

SELECT ROWNUM AS RNUM
       , BRAND_CD, INVOICE_NO, ITEM_CD, ORDER_QTY
  FROM (
         SELECT BRAND_CD, INVOICE_NO, ITEM_CD, ORDER_QTY
           FROM A_OUT_D
          WHERE INVOICE_NO LIKE '#0%'
            AND ORDER_QTY >= 3
            AND ROWNUM <= 3
          ORDER BY ORDER_QTY DESC, ITEM_CD
        )
 WHERE ROWNUM <=2;
 
SELECT COUNT(*)
  FROM A_OUT_M
 WHERE OUTBOUND_DATE BETWEEN '2023-01-03' AND '2023-01-04';
 
SELECT SUM(ORDER_QTY)
  FROM A_OUT_D
 WHERE BRAND_CD = 1001;
 
SELECT BRAND_CD, COUNT(*)
  FROM A_OUT_M
 GROUP BY BRAND_CD;
  
SELECT BRAND_CD, OUTBOUND_DATE, COUNT(*)
  FROM A_OUT_M
 GROUP BY BRAND_CD, OUTBOUND_DATE
HAVING COUNT(*) = 2
 ORDER BY BRAND_CD;
 
SELECT BRAND_CD, SUM(ORDER_QTY)
  FROM A_OUT_D
 GROUP BY BRAND_CD;
 
SELECT BRAND_CD, ITEM_CD, SUM(ORDER_QTY)
  FROM A_OUT_D
 GROUP BY BRAND_CD, ITEM_CD
 ORDER BY BRAND_CD, SUM(ORDER_QTY) DESC
 
SELECT BRAND_CD, MAX(ORDER_QTY), MIN(ORDER_QTY)
  FROM A_OUT_D
 GROUP BY BRAND_CD;
 
 SELECT BRAND_CD, MAX(SUM_QTY), MIN(SUM_QTY)
   FROM (
         SELECT BRAND_CD, ITEM_CD, SUM(ORDER_QTY) AS SUM_QTY
           FROM A_OUT_D
          GROUP BY BRAND_CD, ITEM_CD
          ORDER BY BRAND_CD, ITEM_CD 
        )
  GROUP BY BRAND_CD
  ORDER BY BRAND_CD
 
SELECT INVOICE_NO, OUTBOUND_DATE, OUT_TYPE_DIV, OUT_BOX_DIV, OUT_BOX_NM
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-02'
   AND OUT_TYPE_DIV  IN('M15', 'M22')
   AND OUT_BOX_DIV   LIKE 'F%'
   AND ORDER_PLACE = 52685
 ORDER BY OUTBOUND_DATE, INVOICE_NO;
 
SELECT OUTBOUND_DATE 
       , COUNT(*)                    AS TOT_CNT
       , COUNT(DISTINCT OUT_BOX_DIV) AS OUT_BOX_CNT
       , MIN(OUT_BOX_DIV)            AS OUT_BOX_MIN
       , MAX(OUT_BOX_DIV)            AS OUT_BOX_MAX
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN '2019-09-01' AND '2019-09-02'
   AND OUT_TYPE_DIV  IN('M15', 'M22')
   AND OUT_BOX_DIV   LIKE 'F%'
   AND ORDER_PLACE   = '52685'
 GROUP BY OUTBOUND_DATE
 ORDER BY OUTBOUND_DATE;
 
SELECT  COUNT(*)            AS CNT1
      , COUNT(CD)           AS CNT2
      , COUNT(DISTINCT CD)  AS CNT3
      , COUNT(QTY)          AS CNT4
      , COUNT(1)            AS CNT5
      , COUNT(CONST)        AS CNT6
  FROM (
        SELECT CD, QTY, '폴리텍' AS CONST      
        FROM (
              SELECT 'A' CD, 1     AS QTY FROM DUAL UNION ALL
              SELECT 'B' CD, 2     AS QTY FROM DUAL UNION ALL
              SELECT 'C' CD, NULL  AS QTY FROM DUAL UNION ALL
              SELECT 'C' CD, 4     AS QTY FROM DUAL UNION ALL
              SELECT 'E' CD, 5     AS QTY FROM DUAL 
             )
       )

--DAY6.
SELECT  OUTBOUND_DATE
      , INVOICE_NO
      , OUT_TYPE_DIV
  FROM LO_OUT_M M1
 WHERE M1.OUTBOUND_DATE = '20190903'
   AND M1.INVOICE_NO    BETWEEN '352613619120' AND '352613619150'
   AND EXISTS (
                SELECT 1
                  FROM LO_OUT_D S1
                 WHERE S1.INVOICE_NO = M1.INVOICE_NO
                   AND S1.ORDER_QTY > 100
               );   
               
                SELECT INVOICE_NO, LINE_NO, ITEM_CD, ORDER_QTY
                  FROM LO_OUT_D S1
                 WHERE S1.INVOICE_NO = '352613619120'
                   
SELECT M1.OUTBOUND_DATE
      ,M1.INVOICE_NO
      ,M1.OUT_TYPE_DIV 
      ,(
        SELECT SUM(S1.ORDER_QTY) AS SUM_ORDER_QTY
          FROM LO_OUT_D S1
         WHERE S1.INVOICE_NO = M1.INVOICE_NO
       ) AS SUM_QTY 
  FROM LO_OUT_M M1
 WHERE M1.INVOICE_NO LIKE '3467247026%';

 
--문1       
SELECT *
  FROM A_OUT_D
 WHERE (BRAND_CD, INVOICE_NO) IN (
                                  SELECT BRAND_CD, INVOICE_NO
                                    FROM A_OUT_M
                                   WHERE OUTBOUND_DATE = '20230103'
                                 )
 ORDER BY BRAND_CD, INVOICE_NO;
 
--문2
SELECT *
  FROM A_OUT_D 
 WHERE (BRAND_CD, INVOICE_NO) IN (
                                        SELECT BRAND_CD, INVOICE_NO
                                          FROM A_OUT_M 
                                         WHERE BRAND_CD     = '1001'
                                           AND OUT_TYPE_DIV LIKE 'M1%'                   
                                       )
 ORDER BY BRAND_CD;

--문3
SELECT *
  FROM A_OUT_M
 WHERE (BRAND_CD, INVOICE_NO) IN(
                                 SELECT BRAND_CD, INVOICE_NO
                                   FROM A_OUT_D 
                                  GROUP BY BRAND_CD, INVOICE_NO
                                  HAVING SUM(ORDER_QTY) >= 3
                                )
 ORDER BY BRAND_CD, INVOICE_NO 
   
--문4
SELECT  M1.BRAND_CD
      , M1.ITEM_CD
      ,(
        SELECT S1.ITEM_NM
          FROM A_ITEM S1
         WHERE S1.BRAND_CD = M1.BRAND_CD
           AND S1.ITEM_CD  = M1.ITEM_CD
       ) AS ITEM
      , SUM(ORDER_QTY)
  FROM A_OUT_D M1
 GROUP BY M1.BRAND_CD, M1.ITEM_CD 
 ORDER BY M1.BRAND_CD, M1.ITEM_CD
 
--실전문제1
SELECT DISTINCT(OUTBOUND_DATE)
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN '20190616' AND '20190625'
 ORDER BY OUTBOUND_DATE;
 
SELECT OUTBOUND_DATE
  FROM LO_OUT_M
 WHERE OUTBOUND_DATE BETWEEN :OUTBOUND_DATE +1 AND :OUTBOUND_DATE +10
 GROUP BY OUTBOUND_DATE
 ORDER BY OUTBOUND_DATE;
 
SELECT *
  FROM ( 
        SELECT TO_DATE('20190615', 'YYYY-MM-DD')+ NO AS OUT_DATE
          FROM CS_NO
         WHERE NO <= 10 
       ) M1
 WHERE EXISTS (
               SELECT 1
                 FROM LO_OUT_M S1
                WHERE S1.OUTBOUND_DATE = M1.OUT_DATE
              );   

--실전문제2
SELECT  INVOICE_NO
      , OUT_TYPE_DIV
      , OUT_BOX_DIV
      , (
         SELECT MAX(ORDER_QTY) AS MAX_ORDER_QTY
                , AS MAX_LINE_NO
           FROM LO_OUT_D S1
          WHERE S1.INVOICE_NO = M1.INVOICE_NO
        ) /*
      , (
         SELECT MAX(LINE_NO)
           FROM LO_OUT_D S1
          WHERE S1.INVOICE_NO = M1.INVOICE_NO
        ) AS MAX_LINE_NO
        */
  FROM LO_OUT_M M1
 WHERE OUTBOUND_DATE = '2019-06-03'
   AND OUTBOUND_NO   BETWEEN 'D190603-897353' AND 'D190603-897360'
     