--1) TABLESPACE 생성■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
--DROP TABLESPACE TS_EDU_BASE INCLUDING CONTENTS AND DATAFILES;

CREATE TABLESPACE TS_EDU_BASE
DATAFILE 
  'C:\app\ilove\oradata' SIZE 2600M AUTOEXTEND ON NEXT 10M MAXSIZE UNLIMITED  --DIRECTORY변경 및 SIZE체크
LOGGING
ONLINE
EXTENT MANAGEMENT LOCAL AUTOALLOCATE
BLOCKSIZE 8K
SEGMENT SPACE MANAGEMENT AUTO
FLASHBACK ON;
--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■


--2) USER 생성■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
--DROP USER EDU_USER CASCADE;

CREATE USER EDU_USER
  IDENTIFIED BY "EDU_PWD"
  DEFAULT TABLESPACE TS_EDU_BASE
  TEMPORARY TABLESPACE TEMP
  PROFILE DEFAULT
  ACCOUNT UNLOCK;

-- 1 Role for EDU_USER 
GRANT DBA TO EDU_USER;
ALTER USER EDU_USER DEFAULT ROLE ALL;

-- 1 System Privilege for EDU_USER 
GRANT UNLIMITED TABLESPACE TO EDU_USER;

-- 1 Tablespace Quota for EDU_USER 
ALTER USER EDU_USER QUOTA UNLIMITED ON TS_EDU_BASE;
--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■


--3) TABLE 생성■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

--■ A_ITEM------------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.A_ITEM CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.A_ITEM
(
  BRAND_CD    VARCHAR2(30 BYTE),
  ITEM_CD     VARCHAR2(30 BYTE),
  ITEM_NM     VARCHAR2(30 BYTE),
  QTY_IN_BOX  NUMBER
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON COLUMN EDU_USER.A_ITEM.BRAND_CD IS '브랜드코드';

COMMENT ON COLUMN EDU_USER.A_ITEM.ITEM_CD IS '상품코드';

COMMENT ON COLUMN EDU_USER.A_ITEM.ITEM_NM IS '상품명';

COMMENT ON COLUMN EDU_USER.A_ITEM.QTY_IN_BOX IS '박스입수';


CREATE UNIQUE INDEX EDU_USER.A_ITEM_PK ON EDU_USER.A_ITEM
(BRAND_CD, ITEM_CD)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.A_ITEM ADD (
  CONSTRAINT A_ITEM_PK
  PRIMARY KEY
  (BRAND_CD, ITEM_CD)
  USING INDEX EDU_USER.A_ITEM_PK
  ENABLE VALIDATE);
----------------------------------------------------------------------------------------------------


--■ A_OUT_M-----------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.A_OUT_M CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.A_OUT_M
(
  BRAND_CD       VARCHAR2(30 BYTE),
  INVOICE_NO     VARCHAR2(30 BYTE),
  OUTBOUND_DATE  DATE,
  OUT_TYPE_DIV   VARCHAR2(30 BYTE),
  ORDER_NM       VARCHAR2(30 BYTE)
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON TABLE EDU_USER.A_OUT_M IS '출고주문M';

COMMENT ON COLUMN EDU_USER.A_OUT_M.BRAND_CD IS '브랜드코드';

COMMENT ON COLUMN EDU_USER.A_OUT_M.INVOICE_NO IS '송장번호';

COMMENT ON COLUMN EDU_USER.A_OUT_M.OUTBOUND_DATE IS '출고일자';

COMMENT ON COLUMN EDU_USER.A_OUT_M.OUT_TYPE_DIV IS '출고유형구분';

COMMENT ON COLUMN EDU_USER.A_OUT_M.ORDER_NM IS '주문자';


CREATE UNIQUE INDEX EDU_USER.A_OUT_M_PK ON EDU_USER.A_OUT_M
(BRAND_CD, INVOICE_NO)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.A_OUT_M ADD (
  CONSTRAINT A_OUT_M_PK
  PRIMARY KEY
  (BRAND_CD, INVOICE_NO)
  USING INDEX EDU_USER.A_OUT_M_PK
  ENABLE VALIDATE);
----------------------------------------------------------------------------------------------------


--■ A_OUT_D-----------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.A_OUT_D CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.A_OUT_D
(
  BRAND_CD    VARCHAR2(30 BYTE),
  INVOICE_NO  VARCHAR2(30 BYTE),
  LINE_NO     NUMBER,
  ITEM_CD     VARCHAR2(30 BYTE),
  ORDER_QTY   NUMBER
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON COLUMN EDU_USER.A_OUT_D.BRAND_CD IS '브랜드코드';

COMMENT ON COLUMN EDU_USER.A_OUT_D.INVOICE_NO IS '송장번호';

COMMENT ON COLUMN EDU_USER.A_OUT_D.LINE_NO IS '순번';

COMMENT ON COLUMN EDU_USER.A_OUT_D.ITEM_CD IS '상품코드';

COMMENT ON COLUMN EDU_USER.A_OUT_D.ORDER_QTY IS '출고수량';


CREATE UNIQUE INDEX EDU_USER.A_OUT_D_PK ON EDU_USER.A_OUT_D
(BRAND_CD, INVOICE_NO, LINE_NO)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.A_OUT_D ADD (
  CONSTRAINT A_OUT_D_PK
  PRIMARY KEY
  (BRAND_CD, INVOICE_NO, LINE_NO)
  USING INDEX EDU_USER.A_OUT_D_PK
  ENABLE VALIDATE);
----------------------------------------------------------------------------------------------------


--■ CS_CODE-----------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.CS_CODE CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.CS_CODE
(
  CODE_GRP       VARCHAR2(10 BYTE)              NOT NULL,
  CODE_CD        VARCHAR2(10 BYTE)              NOT NULL,
  CODE_NM        VARCHAR2(100 BYTE)             NOT NULL,
  SUB_CD         VARCHAR2(20 BYTE),
  CODE_EX        VARCHAR2(100 BYTE),
  SORT_RANK      NUMBER(10)                     DEFAULT 0                     NOT NULL,
  LOCK_YN        VARCHAR2(1 BYTE)               DEFAULT 'N'                   NOT NULL,
  REG_USER_ID    VARCHAR2(50 BYTE),
  REG_DATETIME   DATE,
  LAST_USER_ID   VARCHAR2(50 BYTE),
  LAST_DATETIME  DATE
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON TABLE EDU_USER.CS_CODE IS '상용코드마스터';

COMMENT ON COLUMN EDU_USER.CS_CODE.CODE_GRP IS '그룹코드';

COMMENT ON COLUMN EDU_USER.CS_CODE.CODE_CD IS '상용코드';

COMMENT ON COLUMN EDU_USER.CS_CODE.CODE_NM IS '상용코드명';

COMMENT ON COLUMN EDU_USER.CS_CODE.SUB_CD IS '상용서브코드';

COMMENT ON COLUMN EDU_USER.CS_CODE.CODE_EX IS '상용코드설명';

COMMENT ON COLUMN EDU_USER.CS_CODE.SORT_RANK IS '정렬순서';

COMMENT ON COLUMN EDU_USER.CS_CODE.REG_USER_ID IS '최종등록자ID';

COMMENT ON COLUMN EDU_USER.CS_CODE.REG_DATETIME IS '최종등록일시';

COMMENT ON COLUMN EDU_USER.CS_CODE.LAST_USER_ID IS '최종수정자ID';

COMMENT ON COLUMN EDU_USER.CS_CODE.LAST_DATETIME IS '최종수정일시';


CREATE UNIQUE INDEX EDU_USER.CS_CODE_IDXPK ON EDU_USER.CS_CODE
(CODE_GRP, CODE_CD)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.CS_CODE ADD (
  CONSTRAINT CS_CODE_IDXPK
  PRIMARY KEY
  (CODE_GRP, CODE_CD)
  USING INDEX EDU_USER.CS_CODE_IDXPK
  ENABLE VALIDATE);


CREATE INDEX EDU_USER.CS_CODE_IDX01 ON EDU_USER.CS_CODE
(CODE_GRP, CODE_NM)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );
----------------------------------------------------------------------------------------------------


--■ CS_NO-------------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.CS_NO CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.CS_NO
(
  NO  NUMBER(10)                                DEFAULT 0                     NOT NULL
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON TABLE EDU_USER.CS_NO IS '데이터복제용번호';

COMMENT ON COLUMN EDU_USER.CS_NO.NO IS 'NO';


CREATE UNIQUE INDEX EDU_USER.CS_NO_IDXPK ON EDU_USER.CS_NO
(NO)
LOGGING
TABLESPACE TS_LOGI_IDX
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.CS_NO ADD (
  CONSTRAINT CS_NO_IDXPK
  PRIMARY KEY
  (NO)
  USING INDEX EDU_USER.CS_NO_IDXPK
  ENABLE VALIDATE);
----------------------------------------------------------------------------------------------------


--■ CM_ITEM-----------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.CM_ITEM CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.CM_ITEM
(
  ITEM_CD       VARCHAR2(10 BYTE)               NOT NULL,
  ITEM_NM       VARCHAR2(100 BYTE)              NOT NULL,
  QTY_IN_BOX    NUMBER,
  REG_USER_ID   VARCHAR2(50 BYTE),
  REG_DATETIME  DATE
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON TABLE EDU_USER.CM_ITEM IS '상품마스터';

COMMENT ON COLUMN EDU_USER.CM_ITEM.ITEM_CD IS '상품코드';

COMMENT ON COLUMN EDU_USER.CM_ITEM.ITEM_NM IS '상품명';

COMMENT ON COLUMN EDU_USER.CM_ITEM.QTY_IN_BOX IS '박스입수';

COMMENT ON COLUMN EDU_USER.CM_ITEM.REG_USER_ID IS '최종등록자ID';

COMMENT ON COLUMN EDU_USER.CM_ITEM.REG_DATETIME IS '최종등록일시';


CREATE UNIQUE INDEX EDU_USER.CM_ITEM_IDXPK ON EDU_USER.CM_ITEM
(ITEM_CD)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.CM_ITEM ADD (
  CONSTRAINT CM_ITEM_IDXPK
  PRIMARY KEY
  (ITEM_CD)
  USING INDEX EDU_USER.CM_ITEM_IDXPK
  ENABLE VALIDATE);
----------------------------------------------------------------------------------------------------


--■ ER_OUT------------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.ER_OUT CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.ER_OUT
(
  RECV_DATE             DATE                    NOT NULL,
  RECV_NO               NUMBER                  NOT NULL,
  RECV_SEQ              NUMBER                  NOT NULL,
  INVOICE_NO            VARCHAR2(30 BYTE)       NOT NULL,
  OUTBOUND_DATE         DATE,
  OUTBOUND_NO           VARCHAR2(20 BYTE),
  LINE_NO               NUMBER,
  ORDER_PLACE           VARCHAR2(50 BYTE),
  OUTBOUND_BATCH        VARCHAR2(20 BYTE),
  TEMP_DIV              VARCHAR2(20 BYTE),
  OUT_WORK_DIV          VARCHAR2(20 BYTE),
  OUT_TYPE_DIV          VARCHAR2(20 BYTE),
  OUT_BOX_DIV           VARCHAR2(20 BYTE),
  OUT_BOX_NM            VARCHAR2(100 BYTE),
  IPACK_BOX_YN          VARCHAR2(1 BYTE),
  SET_TYPE_CD           VARCHAR2(50 BYTE),
  SET_TYPE_NM           VARCHAR2(200 BYTE),
  SET_QTY               NUMBER,
  ITEM_CD               VARCHAR2(30 BYTE),
  ITEM_NM               VARCHAR2(200 BYTE),
  STOCK_CD              VARCHAR2(20 BYTE),
  TCITEM_DIV            VARCHAR2(20 BYTE),
  CAN_YN                VARCHAR2(1 BYTE),
  CELL_CD               VARCHAR2(30 BYTE),
  ITEM_BAR_CD           VARCHAR2(30 BYTE),
  BOX_BAR_CD            VARCHAR2(30 BYTE),
  ITEM_WEIGHT           NUMBER(10,2),
  QTY_IN_BOX            NUMBER(10),
  BOX_WEIGHT            NUMBER(10,2),
  ITEM_WIDTH            NUMBER(10,2),
  ITEM_LENGTH           NUMBER(10,2),
  ITEM_HEIGHT           NUMBER(10,2),
  ITEM_CBM              NUMBER(10,8),
  SALE_PLACE            VARCHAR2(50 BYTE),
  ORDER_QTY             NUMBER,
  ORDERER_NM            VARCHAR2(100 BYTE),
  MALL_MSG              VARCHAR2(255 BYTE),
  ORDERER_MSG           VARCHAR2(255 BYTE),
  RECEIVER_NM           VARCHAR2(100 BYTE),
  RECEIVER_TEL          VARCHAR2(100 BYTE),
  RECEIVER_HP           VARCHAR2(100 BYTE),
  RECEIVER_ZIP_CD       VARCHAR2(100 BYTE),
  RECEIVER_ADDR_BASIC   VARCHAR2(255 BYTE),
  RECEIVER_ADDR_DETAIL  VARCHAR2(255 BYTE),
  SENDER_NM             VARCHAR2(100 BYTE),
  SENDER_TEL            VARCHAR2(100 BYTE),
  SENDER_ADDR_BASIC     VARCHAR2(255 BYTE),
  SENDER_ADDR_DETAIL    VARCHAR2(255 BYTE),
  CJ_TML_CD             VARCHAR2(100 BYTE),
  CJ_TML_SUB_CD         VARCHAR2(100 BYTE),
  CJ_ARR_SHOP_NM        VARCHAR2(100 BYTE),
  CJ_ARR_CD             VARCHAR2(100 BYTE),
  CJ_ARR_NM             VARCHAR2(100 BYTE),
  CJ_ARR_ADDR           VARCHAR2(100 BYTE),
  CJ_ZIP_CD             VARCHAR2(100 BYTE),
  FREE_VAL1             VARCHAR2(100 BYTE),
  FREE_VAL2             VARCHAR2(100 BYTE),
  FREE_VAL3             VARCHAR2(100 BYTE),
  IF_STATE              NUMBER                  DEFAULT 1,
  EAI_DATETIME          DATE,
  WCS_DATETIME          DATE,
  DAS_BATCH             VARCHAR2(10 BYTE),
  DAS_SEQ               VARCHAR2(10 BYTE)
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          152M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON TABLE EDU_USER.ER_OUT IS '출고수신';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECV_DATE IS '수신일자';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECV_NO IS '수신번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECV_SEQ IS '수신순번';

COMMENT ON COLUMN EDU_USER.ER_OUT.INVOICE_NO IS '송장번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.OUTBOUND_DATE IS '출고일자';

COMMENT ON COLUMN EDU_USER.ER_OUT.OUTBOUND_NO IS '출고번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.LINE_NO IS '송장라인번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.ORDER_PLACE IS '주문처';

COMMENT ON COLUMN EDU_USER.ER_OUT.OUTBOUND_BATCH IS '출고차수(WMS 마감차수)';

COMMENT ON COLUMN EDU_USER.ER_OUT.TEMP_DIV IS '온도구분([1]상온 [2]냉장/냉동)';

COMMENT ON COLUMN EDU_USER.ER_OUT.OUT_WORK_DIV IS '출고작업구분([1]SET [2]DPS [3]DAS [4]ONE박스 [5]ONE피스)';

COMMENT ON COLUMN EDU_USER.ER_OUT.OUT_TYPE_DIV IS '출고유형구분 ([11]상온SET [12]상온DPS [13]상온DAS [14]상온ONE박스 [15]상온ONE피스 [21]냉장SET [22]냉장DPS [23]냉장DAS [24]냉장ONE박스 [25]냉장ONE피스)';

COMMENT ON COLUMN EDU_USER.ER_OUT.OUT_BOX_DIV IS '출고박스구분 ([11]상온1호 [12]상온2호 [13]상온3호 [21]저온1호 [22]저온2호 [23]저온3호 [24]저온4호)';

COMMENT ON COLUMN EDU_USER.ER_OUT.OUT_BOX_NM IS '출고박스명';

COMMENT ON COLUMN EDU_USER.ER_OUT.IPACK_BOX_YN IS 'I-PACK박스여부 (상온3호)';

COMMENT ON COLUMN EDU_USER.ER_OUT.SET_TYPE_CD IS '세트(행사)유형구분';

COMMENT ON COLUMN EDU_USER.ER_OUT.SET_TYPE_NM IS '세트(행사)유형명';

COMMENT ON COLUMN EDU_USER.ER_OUT.SET_QTY IS '세트(행사)수량';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_CD IS '상품코드';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_NM IS '상품명';

COMMENT ON COLUMN EDU_USER.ER_OUT.STOCK_CD IS '자재코드';

COMMENT ON COLUMN EDU_USER.ER_OUT.TCITEM_DIV IS 'TC상품구분([1]동원 [2]크로스독)';

COMMENT ON COLUMN EDU_USER.ER_OUT.CAN_YN IS '캔여부(Y/N)';

COMMENT ON COLUMN EDU_USER.ER_OUT.CELL_CD IS '[DPS]로케이션번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_BAR_CD IS '제품바코드';

COMMENT ON COLUMN EDU_USER.ER_OUT.BOX_BAR_CD IS '박스바코드';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_WEIGHT IS '상품중량';

COMMENT ON COLUMN EDU_USER.ER_OUT.QTY_IN_BOX IS '박스입수';

COMMENT ON COLUMN EDU_USER.ER_OUT.BOX_WEIGHT IS '박스중량';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_WIDTH IS '상품_가로(CM)';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_LENGTH IS '상품_세로(CM)';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_HEIGHT IS '상품_높이(CM)';

COMMENT ON COLUMN EDU_USER.ER_OUT.ITEM_CBM IS '상품_CBM(체적)(㎤)';

COMMENT ON COLUMN EDU_USER.ER_OUT.SALE_PLACE IS '판매처';

COMMENT ON COLUMN EDU_USER.ER_OUT.ORDER_QTY IS '예정수량';

COMMENT ON COLUMN EDU_USER.ER_OUT.ORDERER_NM IS '주문자명';

COMMENT ON COLUMN EDU_USER.ER_OUT.MALL_MSG IS '몰요청사항';

COMMENT ON COLUMN EDU_USER.ER_OUT.ORDERER_MSG IS '배송요청사항';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECEIVER_NM IS '수령자명';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECEIVER_TEL IS '수령자전화번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECEIVER_HP IS '수령자휴대폰번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECEIVER_ZIP_CD IS '수령자우편번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECEIVER_ADDR_BASIC IS '수령자기본주소';

COMMENT ON COLUMN EDU_USER.ER_OUT.RECEIVER_ADDR_DETAIL IS '수령자상세주소';

COMMENT ON COLUMN EDU_USER.ER_OUT.SENDER_NM IS '보내는분명';

COMMENT ON COLUMN EDU_USER.ER_OUT.SENDER_TEL IS '보내는분전화번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.SENDER_ADDR_BASIC IS '보내는분기본주소';

COMMENT ON COLUMN EDU_USER.ER_OUT.SENDER_ADDR_DETAIL IS '보내는분상세주소';

COMMENT ON COLUMN EDU_USER.ER_OUT.CJ_TML_CD IS '[CJ]도착지코드';

COMMENT ON COLUMN EDU_USER.ER_OUT.CJ_TML_SUB_CD IS '[CJ]도착지서브코드';

COMMENT ON COLUMN EDU_USER.ER_OUT.CJ_ARR_SHOP_NM IS '[CJ]배달점소명';

COMMENT ON COLUMN EDU_USER.ER_OUT.CJ_ARR_CD IS '[CJ]배달사원분류코드';

COMMENT ON COLUMN EDU_USER.ER_OUT.CJ_ARR_NM IS '[CJ]배달사원명';

COMMENT ON COLUMN EDU_USER.ER_OUT.CJ_ARR_ADDR IS '[CJ]분류주소';

COMMENT ON COLUMN EDU_USER.ER_OUT.CJ_ZIP_CD IS '[CJ]수화인우편번호';

COMMENT ON COLUMN EDU_USER.ER_OUT.FREE_VAL1 IS '여분컬럼(수량)';

COMMENT ON COLUMN EDU_USER.ER_OUT.FREE_VAL2 IS '여분컬럼(운임)';

COMMENT ON COLUMN EDU_USER.ER_OUT.FREE_VAL3 IS '여분컬럼(정산)';

COMMENT ON COLUMN EDU_USER.ER_OUT.IF_STATE IS '인터페이스상태([1]EAI생성 [2]WCS수신)';

COMMENT ON COLUMN EDU_USER.ER_OUT.EAI_DATETIME IS 'EAI생성일시';

COMMENT ON COLUMN EDU_USER.ER_OUT.WCS_DATETIME IS 'WCS수신일시';


CREATE UNIQUE INDEX EDU_USER.ER_OUT_IDXPK ON EDU_USER.ER_OUT
(RECV_DATE, RECV_NO, RECV_SEQ)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.ER_OUT ADD (
  CONSTRAINT DWMALL_WCS
  PRIMARY KEY
  (RECV_DATE, RECV_NO, RECV_SEQ)
  USING INDEX EDU_USER.ER_OUT_IDXPK
  ENABLE VALIDATE);
----------------------------------------------------------------------------------------------------


--■ LO_OUT_M----------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.LO_OUT_M CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.LO_OUT_M
(
  INVOICE_NO               VARCHAR2(30 BYTE)    NOT NULL,
  OUTBOUND_DATE            DATE,
  OUTBOUND_NO              VARCHAR2(20 BYTE),
  ORDER_PLACE              VARCHAR2(50 BYTE),
  OUTBOUND_BATCH           VARCHAR2(20 BYTE),
  TEMP_DIV                 VARCHAR2(20 BYTE),
  OUT_WORK_DIV             VARCHAR2(20 BYTE),
  OUT_TYPE_DIV             VARCHAR2(20 BYTE),
  OUT_BOX_DIV              VARCHAR2(20 BYTE),
  OUT_BOX_NM               VARCHAR2(100 BYTE),
  IPACK_BOX_YN             VARCHAR2(1 BYTE),
  DAS_WORK_BATCH           NUMBER,
  SET_WORK_BATCH           NUMBER,
  SET_TYPE_CD              VARCHAR2(50 BYTE),
  SET_TYPE_NM              VARCHAR2(200 BYTE),
  SET_QTY                  NUMBER,
  SET_STATE                NUMBER,
  WORK_SEQ                 NUMBER,
  ITEM_MASS_CNT            NUMBER,
  ITEM_MASS_PRINT_CNT      NUMBER,
  ORDER_PROC_STATE         NUMBER,
  PICK_ZONE                VARCHAR2(10 BYTE),
  PICK_STARTTIME           DATE,
  PICK_ENDTIME             DATE,
  PICK_STATE               NUMBER,
  CELL_CD                  VARCHAR2(30 BYTE),
  SEND_DATE                DATE,
  SEND_NO                  NUMBER,
  SEND_STATE               VARCHAR2(2 BYTE),
  SEND_DATETIME            DATE,
  SPLIT_DIV                NUMBER,
  ORG_INVOICE_NO           NUMBER,
  REMARK1                  VARCHAR2(255 BYTE),
  REG_USER_ID              VARCHAR2(50 BYTE),
  REG_DATETIME             DATE,
  BOX_PICK_ORDER_YN        VARCHAR2(1 BYTE)     DEFAULT 'N',
  BOX_PICK_ORDER_DATETIME  DATE,
  BOX_PICK_END_YN          VARCHAR2(1 BYTE)     DEFAULT 'N',
  BOX_PICK_END_DATETIME    DATE,
  BOX_START_YN             VARCHAR2(1 BYTE)     DEFAULT 'N',
  BOX_START_DATETIME       DATE,
  BOXLABEL_PRINT_YN        VARCHAR2(1 BYTE)     DEFAULT 'N',
  BOXLABEL_PRINT_DATETIME  DATE,
  PACK_YN                  VARCHAR2(1 BYTE)     DEFAULT 'N',
  PACK_DATETIME            DATE,
  PICK_YN                  VARCHAR2(1 BYTE)     DEFAULT 'N',
  PICK_DATETIME            DATE,
  WEIGHT_INSPECT_YN        VARCHAR2(1 BYTE)     DEFAULT 'N',
  WEIGHT_INSPECT_DATETIME  DATE,
  WEIGHT_INSPECT_RSLT      NUMBER,
  WEIGHT                   NUMBER(10,2),
  INVOICE_PRINT_YN         VARCHAR2(1 BYTE)     DEFAULT 'N',
  INVOICE_PRINT_DATETIME   DATE,
  INVOICE_PRINT_CNT        NUMBER,
  WAY_BCR_SCAN_YN          VARCHAR2(1 BYTE)     DEFAULT 'N',
  WAY_BCR_SCAN_DATETIME    DATE,
  WAY_BCR_SCAN_RSLT        NUMBER,
  DPS_BOX_SEQ              NUMBER,
  WAY_BOX_SEQ              NUMBER,
  WAY_BCR_RSLT_DATETIME    DATE,
  CAN_DIV                  VARCHAR2(10 BYTE),
  MANUAL_YN                VARCHAR2(1 BYTE),
  WORK_START_YN            VARCHAR2(1 BYTE)     DEFAULT 'N',
  DPS_WORK_SEQ             NUMBER,
  WEIGHT_INSPECT_CNT       NUMBER               DEFAULT 0
)
TABLESPACE TS_DWMALL_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          2M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON TABLE EDU_USER.LO_OUT_M IS '출고주문';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.INVOICE_NO IS '송장번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.OUTBOUND_DATE IS '출고일자';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.OUTBOUND_NO IS '출고번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.ORDER_PLACE IS '주문처';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.OUTBOUND_BATCH IS '출고차수(WMS 마감차수)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.TEMP_DIV IS '온도구분([1]상온 [2]저온) LDIV01';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.OUT_WORK_DIV IS '출고작업구분([1]SET [2]DPS [3]DAS [4]원박스 [5]원피스) LDIV02';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.OUT_TYPE_DIV IS '출고유형구분 ([11]상온SET [12]상온DPS [13]상온DAS [14]상온원박스 [15]상온원피스 [21]저온SET [22]저온DPS [23]저온DAS [24]저온원박스 [25]저온원피스) LDIV03';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.OUT_BOX_DIV IS '출고박스구분 ([D1]IPACK [D2]중중형-3 [D3]중형-2 [D4]중중형-2 [D5]신대형 [F1]냉동5Kg이하 [F2]냉동10Kg초과 [F3]냉동3Kg이하 [F4]피자박스)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.OUT_BOX_NM IS '출고박스명';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.IPACK_BOX_YN IS 'I-PACK박스여부 (상온3호)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.DAS_WORK_BATCH IS '[DAS]작업차수(출고차수 내 표시기 수에 따른 차수 분할)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SET_WORK_BATCH IS '[SET]작업차수(출고차수 내 SET 단위 순서 부여)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SET_TYPE_CD IS '[SET]유형코드';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SET_TYPE_NM IS '[SET]유형명';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SET_QTY IS '[SET]수량';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SET_STATE IS '[SET]상태([0]대기 [1] SET선택완료(작업시작) [2]SET작업완료 [9]보류) STAT01';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WORK_SEQ IS '작업순서(출고차수/출고유형 내 순서)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.ITEM_MASS_CNT IS '수축실링갯수 (상온DPS캔류)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.ITEM_MASS_PRINT_CNT IS '수축실링라벨발행매수(상온DPS캔류)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.ORDER_PROC_STATE IS '주문진행상태([0]정상 [1]주문취소 [2]현장취소 [3]박스만재 [4]TC입고취소  [9]보류) DPS에서 먼저 보류 처리, WCS에서 최종결정  STAT02';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PICK_ZONE IS '[DPS]작업 존(마지막)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PICK_STARTTIME IS '[DPS]존 시작시간 (최초DPS 시작시간)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PICK_ENDTIME IS '[DPS]존 완료시간 (마지막DPS 완료시간)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PICK_STATE IS '[DPS,DAS]오더작업상태([0]미작업 [1]진행중 [2]작업완료)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.CELL_CD IS '[DAS]로케이션 번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SEND_DATE IS '송신일자';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SEND_NO IS '송신번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SEND_STATE IS '송신진행상태';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SEND_DATETIME IS '송신일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.SPLIT_DIV IS '분할구분([1]일반 [2]분할 [3]추가)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.ORG_INVOICE_NO IS '원송장번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.REMARK1 IS '비고1';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.REG_USER_ID IS '최종등록자ID';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.REG_DATETIME IS '최종등록일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOX_PICK_ORDER_YN IS '박스PICK지시여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOX_PICK_ORDER_DATETIME IS '박스PICK지시일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOX_PICK_END_YN IS '박스PICK완료여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOX_PICK_END_DATETIME IS '박스PICK완료일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOX_START_YN IS '박스출발여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOX_START_DATETIME IS '박스출발일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOXLABEL_PRINT_YN IS '박스라벨발행여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.BOXLABEL_PRINT_DATETIME IS '박스라벨발행일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PACK_YN IS '패킹완료여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PACK_DATETIME IS '패킹완료일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PICK_YN IS '피킹완료여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.PICK_DATETIME IS '피킹완료일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WEIGHT_INSPECT_YN IS '중량검수여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WEIGHT_INSPECT_DATETIME IS '중량검수일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WEIGHT_INSPECT_RSLT IS '중량검수결과([1]OK [-1]NG)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WEIGHT IS '측정중량(GRAM)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.INVOICE_PRINT_YN IS '송장발행여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.INVOICE_PRINT_DATETIME IS '송장발행일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.INVOICE_PRINT_CNT IS '송장발행횟수';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WAY_BCR_SCAN_YN IS '방면BCR스캔여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WAY_BCR_SCAN_DATETIME IS '방면BCR스캔일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WAY_BCR_SCAN_RSLT IS '방면소터분기결과([1]OK [-1]NG)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.DPS_BOX_SEQ IS '상온DPS-박스SEQ';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WAY_BOX_SEQ IS '방면소터-박스SEQ';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WAY_BCR_RSLT_DATETIME IS '방면소터분기일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.CAN_DIV IS '캔/비캔구분 ([A1]캔 [A2]캔+비캔 [B1]비캔)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.MANUAL_YN IS '수동완료처리여부';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WORK_START_YN IS '작업시작IF여부(DPS만)';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.DPS_WORK_SEQ IS '[상온]DPS 투입순서';

COMMENT ON COLUMN EDU_USER.LO_OUT_M.WEIGHT_INSPECT_CNT IS '중량검수 횟수 ([상온]DPS 실링검수 횟수)';


CREATE UNIQUE INDEX EDU_USER.LO_OUT_M_IDXPK ON EDU_USER.LO_OUT_M
(INVOICE_NO)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.LO_OUT_M ADD (
  CONSTRAINT LO_OUT_M_IDXPK
  PRIMARY KEY
  (INVOICE_NO)
  USING INDEX EDU_USER.LO_OUT_M_IDXPK
  ENABLE VALIDATE);


CREATE INDEX EDU_USER.LO_OUT_M_IDX01 ON EDU_USER.LO_OUT_M
(OUTBOUND_DATE)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );
----------------------------------------------------------------------------------------------------


--■ LO_OUT_D----------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.LO_OUT_D CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.LO_OUT_D
(
  INVOICE_NO        VARCHAR2(30 BYTE)           NOT NULL,
  LINE_NO           NUMBER                      NOT NULL,
  ITEM_CD           VARCHAR2(30 BYTE),
  ITEM_NM           VARCHAR2(200 BYTE),
  STOCK_CD          VARCHAR2(20 BYTE),
  TCITEM_DIV        VARCHAR2(20 BYTE),
  ITEM_BAR_CD       VARCHAR2(30 BYTE),
  BOX_BAR_CD        VARCHAR2(30 BYTE),
  ITEM_WEIGHT       NUMBER(10,2),
  QTY_IN_BOX        NUMBER(10),
  BOX_WEIGHT        NUMBER(10,2),
  ITEM_WIDTH        NUMBER(10,2),
  ITEM_LENGTH       NUMBER(10,2),
  ITEM_HEIGHT       NUMBER(10,2),
  ITEM_CBM          NUMBER(10,8),
  SALE_PLACE        VARCHAR2(50 BYTE),
  ORDER_QTY         NUMBER,
  PICK_QTY          NUMBER,
  PICK_STATE        NUMBER,
  INSPECT_QTY       NUMBER,
  REMARK1           VARCHAR2(255 BYTE),
  REG_USER_ID       VARCHAR2(50 BYTE),
  REG_DATETIME      DATE,
  PICK_USER_ID      VARCHAR2(50 BYTE),
  PICK_DATETIME     DATE,
  INSPECT_USER_ID   VARCHAR2(50 BYTE),
  INSPECT_DATETIME  DATE,
  CELL_CD           VARCHAR2(30 BYTE),
  CAN_YN            VARCHAR2(1 BYTE),
  ERR_ITEM_YN       VARCHAR2(1 BYTE)            DEFAULT 'N',
  OUT_TYPE_DIV_D    VARCHAR2(20 BYTE)
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          3M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;

COMMENT ON TABLE EDU_USER.LO_OUT_D IS '출고주문상세';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.INVOICE_NO IS '송장번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.LINE_NO IS '송장라인번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_CD IS '상품코드';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_NM IS '상품명';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.STOCK_CD IS '자재코드';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.TCITEM_DIV IS 'TC상품구분([1]동원 [2]크로스독)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_BAR_CD IS '제품바코드';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.BOX_BAR_CD IS '박스바코드';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_WEIGHT IS '제품중량';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.QTY_IN_BOX IS '박스입수';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.BOX_WEIGHT IS '박스중량';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_WIDTH IS '제품_가로(cm)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_LENGTH IS '제품_세로(cm)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_HEIGHT IS '제품_높이(cm)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ITEM_CBM IS '제품_CBM(체적)(㎤)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.SALE_PLACE IS '판매처';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ORDER_QTY IS '예정수량';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.PICK_QTY IS '피킹수량';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.PICK_STATE IS '피킹상태([0]미작업 [1]결품 [2]정상완료 [3]표시기에러)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.INSPECT_QTY IS '검수수량';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.REMARK1 IS '비고1';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.REG_USER_ID IS '최종등록자ID';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.REG_DATETIME IS '최종등록일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.PICK_USER_ID IS '최종피킹자ID';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.PICK_DATETIME IS '최종피킹일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.INSPECT_USER_ID IS '최종검수자ID';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.INSPECT_DATETIME IS '최종검수일시';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.CELL_CD IS '[DPS]로케이션번호';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.CAN_YN IS '캔여부(Y/N)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.ERR_ITEM_YN IS '오류상품여부(체적계산오류)';

COMMENT ON COLUMN EDU_USER.LO_OUT_D.OUT_TYPE_DIV_D IS '출고유형구분 ([11]상온SET [12]상온DPS [13]상온DAS [14]상온원박스 [15]상온원피스 [21]저온SET [22]저온DPS [23]저온DAS [24]저온원박스 [25]저온원피스) LDIV03';


CREATE UNIQUE INDEX EDU_USER.LO_OUT_D_IDXPK ON EDU_USER.LO_OUT_D
(INVOICE_NO, LINE_NO)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );

ALTER TABLE EDU_USER.LO_OUT_D ADD (
  CONSTRAINT LO_OUT_D_IDXPK
  PRIMARY KEY
  (INVOICE_NO, LINE_NO)
  USING INDEX EDU_USER.LO_OUT_D_IDXPK
  ENABLE VALIDATE);
----------------------------------------------------------------------------------------------------


--■ ZZ_TEST_GUGUDAN---------------------------------------------------------------------------------
--DROP TABLE EDU_USER.ZZ_TEST_GUGUDAN CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.ZZ_TEST_GUGUDAN
(
  USER_ID       VARCHAR2(30 BYTE),
  CONTENTS      VARCHAR2(1000 BYTE),
  REG_DATETIME  DATE
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;
----------------------------------------------------------------------------------------------------


--■ ZZ_TEST_PROCEDURE-------------------------------------------------------------------------------
--DROP TABLE EDU_USER.ZZ_TEST_PROCEDURE CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.ZZ_TEST_PROCEDURE
(
  USER_ID       VARCHAR2(30 BYTE),
  YM            VARCHAR2(30 BYTE),
  TOT_QTY       NUMBER,
  M12_QTY       NUMBER,
  M22_QTY       NUMBER,
  ETC_QTY       NUMBER,
  REG_DATETIME  DATE
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;
----------------------------------------------------------------------------------------------------


--■ ZZ_TEST_SAMPLE----------------------------------------------------------------------------------
--DROP TABLE EDU_USER.ZZ_TEST_SAMPLE CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.ZZ_TEST_SAMPLE
(
  ID            NUMBER,
  CONTENTS      VARCHAR2(1000 BYTE),
  REG_USER_ID   VARCHAR2(30 BYTE),
  REG_DATETIME  DATE
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;
----------------------------------------------------------------------------------------------------


--■ Z_DAY17_1---------------------------------------------------------------------------------------
--DROP TABLE EDU_USER.Z_DAY17_1 CASCADE CONSTRAINTS;

CREATE TABLE EDU_USER.Z_DAY17_1
(
  OUTBOUND_DATE  DATE,
  SUM_QTY        NUMBER,
  UPDATE_COL1    NUMBER,
  UPDATE_COL2    NUMBER
)
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   1
MAXTRANS   255
STORAGE    (
            INITIAL          64K
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           )
LOGGING 
NOCOMPRESS 
NOCACHE;


CREATE INDEX EDU_USER.Z_DAY17_1_IDX01 ON EDU_USER.Z_DAY17_1
(OUTBOUND_DATE)
LOGGING
TABLESPACE TS_EDU_BASE
PCTFREE    10
INITRANS   2
MAXTRANS   255
STORAGE    (
            INITIAL          1M
            NEXT             1M
            MINEXTENTS       1
            MAXEXTENTS       UNLIMITED
            PCTINCREASE      0
            BUFFER_POOL      DEFAULT
           );
----------------------------------------------------------------------------------------------------

--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■